.places__container {
    margin: 0 auto;
    max-width: 984px;
    padding-bottom: 100px;
}

@media (max-width: 1279px) {
    .places__container {
        padding: 0 48px 92px 48px;
    }
}

@media (max-width: 1023px) {
    .places__container {
        padding: 0 24px 90px 24px;
    }
}

@media (max-width: 767px) {
    .places__container {
        padding: 0 0 66px 0;
    }
}